<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307772124853-e8as4rj3gkbto4iv76r3a028032mmb2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307772124853-e8as4rj3gkbto4iv76r3a028032mmb2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAmz8LhxY8V6s2y1zoKhwK6hyZgVXWGI60</string>
	<key>GCM_SENDER_ID</key>
	<string>307772124853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumen.PetSupport</string>
	<key>PROJECT_ID</key>
	<string>mental-health-support-list</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-support-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:307772124853:ios:aa05bd9953f32a446798fc</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
</dict>
</plist>
